<nav class="navbar-classic navbar navbar-expand-lg">
    <div class="container">
        <%= link_to root_path, class: 'navbar-brand' do %>
            <img src="https://dashui.codescandy.com/dashuipro/assets/images/brand/logo/logo-2.svg" alt="Image">
        <% end %>
    </div>
</nav>