/* Image Cards */
.card-image-product img {
    min-height: 275px;
    max-height: 275px;
}

.card-image-product-details img {
    width: 100%;
    height: 100%;
}

/* Card Tables */
.card table th {
    border-top-style: none;
}

/* Inputs */
.form-control {
    width: 100% !important;
}