<header class="topbar card rounded-0 border-0">
    <div class="with-vertical">
        <nav class="navbar navbar-expand-lg px-0 py-0">
            <div class="d-none d-lg-block">
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="../main/index.html" class="text-nowrap logo-img d-flex align-items-center gap-6">
                    <b class="logo-icon">
                        <img src="https://bootstrapdemos.wrappixel.com/ample/dist/assets/images/logos/logo-icon.svg" alt="homepage" class="dark-logo" />
                        <img src="https://bootstrapdemos.wrappixel.com/ample/dist/assets/images/logos/logo-light-icon.svg" alt="homepage" class="light-logo" />
                    </b>
                    <span class="logo-text">
                        <img src="https://bootstrapdemos.wrappixel.com/ample/dist/assets/images/logos/logo-text.svg" alt="homepage" class="dark-logo" />
                        <img src="https://bootstrapdemos.wrappixel.com/ample/dist/assets/images/logos/logo-light-text.svg" class="light-logo" alt="homepage" />
                    </span>
                    </a>
                </div>
            </div>

            <ul class="navbar-nav align-items-center">
                <li class="nav-item nav-icon-hover-bg rounded-circle">
                    <a class="nav-link sidebartoggler" id="headerCollapse" href="javascript:void(0)">
                    <iconify-icon icon="solar:list-broken"></iconify-icon>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>